---
layout: page
title: "About"
description: "Hey, this is Lazy."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>写写代码，打打游戏，看看书<br>
    </p></blockquote>

    <p>

        ##### 个人信息<br>
        Lazy/男/90后<br>
        所在城市：北京<br>
        技术博客：https://www.liujingyuan.top<br>
        简书：https://www.jianshu.com/u/6a24efcd67ec<br>
        Github:：https://github.com/l123456789jy<br>

        ##### 技术栈<br>
        开发方向：Android/java后台<br>
        后端语言：Java/Python<br>
        后端框架：Hibernate/Spring/Jersey/Jackson<br>
        前端框架：JQuery/Bootstrap/reactnative/kotlincn<br>
        数据库：MySQL/SQLite<br>
        服务器：Tomcat/Jetty/Nginx/<br>
        版本管理：Git/SVN<br>
        运维实施：CentOS<br>
        AR：高通AR<br>
        webAPP：reactnative/Cordova<br>
        逆向安全<br>


        //待补充<br>

        联系方式<br>
        Email: jingyuanliu0@gmail.com<br>


    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Web Developer. <br>
    Ye</p></blockquote>

    <p>

        ##### Personal Information<br>
                 Lazy/male/90 after<br>
                 City: Beijing<br>
                 Technical blog: https://www.liujingyuan.top<br>
                 Short book: https://www.jianshu.com/u/6a24efcd67ec<br>
                 Github::https://github.com/l123456789jy<br>

                 ##### Technology stack<br>
                 Development direction: Android/java background<br>
                 Backend language: Java/Python<br>
                 Backend framework: Hibernate/Spring/Jersey/Jackson<br>
                 Front-end framework: JQuery/Bootstrap/reactnative/kotlincn<br>
                 Database: MySQL/SQLite<br>
                 Server: Tomcat/Jetty/Nginx/<br>
                 Version Management: Git/SVN<br>
                 Operation and maintenance implementation: CentOS<br>
                 AR: Qualcomm AR<br>
                 webAPP:reactnative/Cordova<br>
                 Reverse security<br>


                 //To be added<br>

                 Contact information<br>
                 Email: jingyuanliu0@gmail.com<br>
    </p>
    <h5>Talks</h5>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: 'l123456789jy',
  repo: 'https://github.com/l123456789jy/BWG/issues',
  oauth: {
    client_id: 'f35b33d77467f858e5e5',
    client_secret: '3ec3d614d05e1becde205b6dc10f11dc25728ee2',
  },
})
gitment.render('container')
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
